{% extends 'inventory/base.html' %}
{% csrf_token %}
{% block buton %}
     <a href="{% url 'editShitje' shitjet.pk %}"> Rregullo</a>
{% endblock %}
{% block content %}
     <h1>Informacion i shitjes se produktit {{shitjet.kodiS}}</h1>
     <label><h5>Kodi</h5></label>:  {{ shitjet.kodiS }}</label><br>
     <label><h5>Sasia</h5></label>: {{ shitjet.sasia }}</label><br>
     <label><h5>Ulje</h5></label>: {{ shitjet.ulje }}</label><br>
     <label><h5>Cmimi/Njesi</h5></label>: {{ shitjet.cmimi_per_njesi }}</label><br>
     <label><h5>Totali</h5></label>: {{ shitjet.cmimi_shitjes }}</label><br>
     <label><h5>Pershkrimi</h5></label>: {{ shitjet.pershkrim }}</label><br>
     <label><h5>Klienti</h5></label>: {{ shitjet.klienti }}</label><br>
     <label><h5>Kapar</h5></label>: {{ shitjet.kapari }}</label><br>
     <label><h5>Data e porosise</h5></label>: {{ shitjet.data_porosise }}</label><br>
     <label><h5>Data e dorezimit</h5></label>: {{ shitjet.data_dorezimit }}</label><br>
{% endblock %}