{% extends 'inventory/base.html' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
{% csrf_token %}
{% block sectiontitle %}
<h2>Per Furnizim</h2>
{% endblock %}
{% block buton %}
     <a href="{% url 'addnewFurnziim' %}"> + Shto Furnizim</a>
{% endblock %}
{% block export %}
    <a href="{% url 'export_perFurnizim_csv' %}">
{% endblock %}


{% block content %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th> Kodi</th>
            <th>Gjendje</th>
            <th>Cmimi/Njesi</th>
            <th>Cmimi shitjes</th>
            <th>Pershkrimi</th>
            <th>Permasat</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}

            <tr>
                <th>
                    <a href="{% url 'detail' product.pk %}">
                        {{ product.pk }}
                    </a>
                </th>
                <td>{{ product.kodiI }}</td>
                <td>{{ product.gjendje }}</td>
                <td>{{ product.cmimi_per_njesi }}</td>
                <td>{{ product.cmimi_shitjes }}</td>
                <td>{{ product.pershkrim }}</td>
                <td>{{ product.permasat }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>



{% endblock %}

